@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.whatsapp-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 200px;
}

p {
    display: block;
    margin-bottom: 1em;
}

div.card-event img{
    max-height: 165px;
    background-size: cover;
}