@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

p {
    display: block;
    margin-bottom: 1em;
}

div.card-event img {
    max-height: 165px;
    background-size: cover;
}

.whatsapp-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 200px;
}

/* div.swiper-slide img {
    min-height: 490px;
    background-size: cover;
} */

.swiper {
    margin-top: 80px;
}

@media (max-width: 768px) {
    .whatsapp-icon {
        width: 150px;
    }

    div.swiper-slide img {
        min-height: 300px;
        background-size: cover;
    }

    .swiper {
        margin-top: 65px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 90% !important;
    }
}